.nyc_output

node_modules

esm/**/*.js
esm/**/*.js.map
esm/**/*.d.ts
esm/**/*.d.ts.map
esm/**/*.tsbuildinfo

cjs/**/*.js
cjs/**/*.js.map
cjs/**/*.d.ts
cjs/**/*.d.ts.map
cjs/**/*.tsbuildinfo

types/**/*.d.ts
types/**/*.d.ts.map
types/**/*.tsbuildinfo